language: php

env:
  - THENEEDFORTHIS=FAIL

matrix:
  include:
    - env: DBTYPE=mysql; MW=master
      php: 5.3
    - env: DBTYPE=mysql; MW=1.18.0
      php: 5.5
    - env: DBTYPE=sqlite; MW=1.20.0
      php: 5.4
    - env: DBTYPE=sqlite; MW=1.22.0
      php: 5.5
  exclude:
    - env: THENEEDFORTHIS=FAIL

before_script: bash ./build/travis/before_script.sh

script: bash ./build/travis/script.sh

notifications:
  email:
    recipients:
      - jeroendedauw@gmail.com
    on_success: change
    on_failure: always
